@charset "UTF-8";
/* Create with Compass + SCSS on windows */
/* ... Easy100 友欣 升學網 ... */
.hiddenItem {
  font-size: 1px;
  line-height: 0;
  text-indent: 0;
  visibility: hidden;
}

.hideItem {
  display: none;
}

.clearFloat {
  clear: both;
  margin: 0;
  padding: 0;
  line-height: 0;
  font-size: 0;
  height: 0;
}

@media only screen and (orientation: landscape) {
  /*橫向*/
}
@media only screen and (orientation: portrait) {
  /*直向*/
}
.main .doc .faqTab ul li {
  margin-top: 0;
  margin-right: 0;
  display: none;
}
.main .doc .faqTab ul li.open,
.main .doc .faqTab ul li.more {
  display: list-item;
}
.main .doc .faqTab ul li.more {
  float: right;
}
.main .doc .faqTab ul li h3 button {
  display: none;
}
.main .doc .faqTab ul li h3 > span {
  display: inline-block;
  padding: 10px 15px;
}
.main .doc .faqList dl dt a,
.main .doc .faqList dl dd .text {
  padding-left: 30px;
}
.main .doc .faqList dl dt a {
  background-position: 5px 15px;
}
.main .doc .faqList dl dd .text {
  padding-right: 0;
}

/******************************************************
*                                                     *
*                     手持裝置適應                    *
*                                                     *
******************************************************/
/* 主流平板 begin */
@media only screen and (min-device-width: 740px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.33) {
  .main .doc .faqTab ul li.more select {
    width: 10em;
  }
  .main .doc .faqList dl dt a,
  .main .doc .faqList dl dd .text {
    padding-left: 60px;
  }
  .main .doc .faqList dl dt a {
    background-position: 30px 15px;
  }
  .main .doc .faqList dl dd .text {
    padding-right: 15px;
  }
}
/* 主流平板 end */
/* 主流平板橫向 begin */
/* 主流平板橫向 end */
/* 主流平板直向 end */
/* 主流平板直向 end */
